.chosen-container
{
    font-size: 11px;
    line-height: 1em;
}

.chosen-container-multi .chosen-choices
{
    border-color: #BEBEBE;
}

.chosen-container-multi .chosen-choices li.search-choice
{
    /* margin: 3px 5px 3px 0; */
    /* padding: 3px 20px 3px 5px; */
    /* border: 1px solid #aaa; */
    line-height: 1em;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close
{
    top: 3px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]
{
    height: 24px;
}

.chosen-container-multi .chosen-choices li.search-choice
{
    background: #F1F1F1;
    border-color: #d3cdcd;
}
