.layout__main-main
{
    height: 100%;
}

/****************************************/

.grid
{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.grid__header
{
    background: #EFEFEF;
    border-bottom: 1px solid #D8D8D8;
}
.grid__items
{
    flex-grow: 1;
    overflow: auto;
}
.grid__summary
{
    padding: 5px;
}
.grid__pages
{
    padding: 5px;
}

/****************************************/

.grid-header
{
    font-size: 14px;
    line-height: 1.2em;
}
.grid-header__col
{
    text-align: center;
    /* outline: 1px solid #ccc; */
    padding-left: 0;
    padding-right: 0;
}

/****************************************/

.grid-summary
{
    font-size: 12px;
    line-height: 1.2em;
    display: flex;
    align-items: center;
}
.grid-summary__splitter
{
    border-right: 1px solid #bababa;
    height: 1em;
    margin: 0 5px;
}

/****************************************/

.grid-items
{
    background: #FFF;
}

.grid-header,
.grid-items .grid-items__item
{
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    /* border-bottom: 1px solid #D8D8D8; */
    /* align-items: stretch; */
}
.grid-items__item:nth-child(odd)
{
    background: #fafafa;
}
/* .grid-items .grid-items__item:last-child
{
    border-bottom: 0;
} */

.grid-header__col,
.grid-items__item-col
{
    /* outline: 1px solid #ccc; */
    padding: 5px;
    width: 10%;
    flex-basis: 10%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}
.grid-items__item-col_wrap
{
    white-space: normal;
}
.grid-items__item-col_center
{
    text-align: center;
}
.grid-header__col_check,
.grid-items__item-col_check
{
    text-align: center;
    width: 5%;
    flex-basis: 5%;
    min-width: 30px;
    position: relative;
}
.grid-header__col_check,
.grid-items__item-col_check,
.grid-header__col_check [data-role="select-all"],
.grid-items__item-col_check [data-role="select-item"]
{
    cursor: pointer;
}
[data-role="select-all"],
[data-role="select-item"]
{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/****************************************/

.cell-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.cell-list__item
{
    margin-left: 1.2em;
    position: relative;
}
.cell-list__item::before
{
    content: '\2014';
    margin-left: -1.2em;
    position: absolute;
}

/****************************************/
