/* @import url('/common/styles/fonts/rouble/stylesheet.css'); */


.money
{
    white-space: nowrap;
}
.money__amount
{

}

.currency.currency_rub::before
{
    font-family: 'RoubleRegular';
    content: '\70';
    margin-left: .2em;
}
