<a href="#" class="pager__link pager__arrow<% if(currentPage >= maxPage) { %> pager__item_hidden<% } %>" data-page="<%= currentPage + 1 %>">&larr;</a>

<% if(maxPage !== totalPages) { %>
    <a href="#" class="pager__link pager__page" data-page="<%= totalPages %>"><%= totalPages %></a>
    <div class="pager__ellipsis">...</div>
<% } %>

<% for(let page = maxPage; page >= minPage; page--) { %>

    <% if(page === currentPage) { %>
        <a href="#" class="pager__link pager__page pager__page_current"><%= page %></a>
    <% } else { %>
        <a href="#" class="pager__link pager__page" data-page="<%= page %>"><%= page %></a>
    <% } %>

<% } %>

<% if(minPage !== 1) { %>
    <div class="pager__ellipsis">...</div>
    <a href="#" class="pager__link pager__page" data-page="1">1</a>
<% } %>

<a href="#" class="pager__link pager__arrow<% if(currentPage === 1) { %> pager__item_hidden<% } %>" data-page="<%= currentPage - 1 %>">&rarr;</a>

<select class="pager__per-page">
    <option value="10">10</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="200">200</option>
    <option value="500">500</option>
    <option value="1000">1 000</option>
    <option value="2000">2 000</option>
    <option value="5000">5 000</option>
</select>
