.items-list
{

}

.items-list__item
{
    font-size: 12px;
    line-height: 1.4em;
    cursor: pointer;
    padding: 10px 15px;
    overflow: hidden;
}
.items-list__item:hover
{
    background: #FFF9C4;
}

.items-list__item[data-selected="true"]
{
    background: #fff369;
    cursor: default;
}

/************************************************/

.comma-list-item::after
{
    font-size: 12px;
    content: ', ';
    margin-right: 4px;
}
.comma-list-item:last-child::after
{
    content: '';
}

/************************************************/

.items-list__row
{
    display: flex;
    flex-direction: row;

    box-sizing: border-box;

    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
}
.items-list__column
{
    box-sizing: border-box;
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    flex-basis: 100%;
}

.items-list__column.items-list__column_full
{
    flex-basis: 100%;
    width: 100%;
}

@media only screen and (min-width: 768px)
{

    .items-list__column
    {
        flex-basis: 50%;
        width: 50%;
    }

}

@media only screen and (min-width: 1024px)
{

    .items-list__column
    {
        flex-basis: 33.333333333%;
        width: 33.333333333%;
    }

}

@media only screen and (min-width: 1200px)
{

    .items-list__column
    {
        flex-basis: 25%;
        width: 25%;
    }

}

/************************************************/
