<select <%= options.placeholder ? `data-placeholder="${options.placeholder}"` : '' %> <%= options.multiple ? 'multiple' : '' %>>
    <option value=""></option>

    <% _.each(items, function(item) { %>
        <% if(item.group) { %>
            <optgroup label="<%= item.label %>">
                <% _.each(item.items, function(subitem) { %>
                    <option value="<%= subitem.key %>">
                        <!-- <%= (item.label.length > 20 ? `${item.label.substr(0, 20).trim()}…` : item.label) + ', ' + subitem.value %> -->
                        <%= item.label + ', ' + subitem.value %>
                    </option>
                <% }); %>
            </optgroup>
        <% } else { %>
            <option value="<%= item.key %>">
                <%= item.value %>
            </option>
        <% } %>
    <% }); %>
</select>
