.filters-panel
{

}

.filters-panel__items
{
    padding: 5px;
}

.filters-panel__buttons
{
    /* text-align: center; */
    padding: 5px 5px;
}

/****************************/

.filters__filter-place [data-role="filter-input"]
{
    width: 100%;
}

/****************************/

.filters__filter
{
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    flex: 0 1 auto;
    padding-bottom: 5px;
}
.filters__filter:last-child
{
    padding-bottom: 0;
}
/* .filters__filter:first-child .filters__type-selector, */
.filters__filter:first-child .filters__button[data-role="remove"]
{
    display: none;
}

.filters__type-selector
{
    margin-right: 5px;
    max-width: 170px;
}
.filters__type-selector [data-role="type-selector"]
{
    width: 100%;
}
.filters__filter-place
{
    width: 100%;
    max-width: 150px;
}
.filters__filter-buttons
{
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    padding-left: 5px;
}

/****************************/

.button.filters__button
{
    min-width: 16px;
    border-radius: 5px;
    padding: 4px;
}
.filters__button[data-role="add"]
{
    width: 20px;
}
.filters__button[data-role="remove"]
{
    width: 20px;
    margin-right: 2px;
}
