<div class="user-details">

    <div class="user-details__head">
        <span rv-if="item:user">👤</span>
        {item:email}
    </div>

    <div class="user-details__main">

        <div rv-if="item:user">
            <div>
                Имя: {item:user.name}
            </div>
            <div rv-if="item:user.tel">
                Телефон: {item:user.tel}
            </div>
            Id: {item:user.id}

            <div rv-if="item:user.lastActiveAt">
                Был <span class="lower-case">{item:user.lastActiveAt | humanDate}</span>
            </div>
            <div rv-if="item:user.lastActiveAt | not">
                Еще не логинился
            </div>
            <div>
                Зареган <span class="lower-case">{item:user.createdAt | humanDate}</span>
            </div>
        </div>

        <br>

        <div rv-if="item:subscribed" class="user-details__subscribed">✓ Подписан на новости школы</div>

        <div rv-if="item:subscribedCourses.0" class="user-details__subscribed-courses">
            Подписан на новости курсов:
            <ul rv-if="item:subscribedCourses | length | gt 0" class="cell-list">
                <li rv-each-subscribe="item:subscribedCourses | sortBy 'createdAt' 'desc'" class="cell-list__item">
                    {subscribe.name}
                </li>
            </ul>
        </div>


        <div rv-if="item:user.refererHost">
            Пришел с:
            {item:refererHost} <span class="user-details__referer-url" rv-if="item:user.refererUrl">(<a rv-href="item:user.refererUrl">{item:user.refererUrl}</a>)</span>
        </div>

    </div>

    <hr class="hr">

    <div class="user-details__main" rv-if="item:user">

        <input type="checkbox" id="add-to-course" -checked>

        <label for="add-to-course" class="link link_local">
            Добавить на курс
        </label>

        <div class="user-details__add-to-course">

            <form data-role="add-to-course">
                <input type="hidden" name="id" rv-value="item:user.id">
                <label class="form__field">
                    <span class="form__label">Курс</span>
                    <select name="course_id" class="user-details__courses" required>
                        <option value="">...</option>
                        <option rv-each-course="courses:" rv-value="course:id" rv-disabled="course:selected">{course:name}</option>
                    </select>
                    <div>
                        <small>на текущий активный поток</small>
                    </div>
                </label>

                <label class="form__field">
                    <span class="form__label">Комментарий (для админов)</span>
                    <textarea class="textarea textarea_default textarea_s textarea_wide" name="comment" placeholder="Например, «блоггер» или «переведен с курса ...»."></textarea>
                </label>

                <button class="button button_xs button_primary" type="submit">
                    Добавить
                </button>
            </form>

        </div>

        <div rv-if="item:user.students | length | gt 0" class="user-details__students">

            <div rv-each-student="item:user.students | sortBy 'createdAt' 'desc'" class="student">
                <div class="student__course-name">
                    {student.enrollment.course.name}
                </div><div class="student__created lower-case">
                    {student.createdAt | humanDate} (на {student.enrollment.num}-й поток
                </div>
                <span rv-if="student.enrollment.beginAt" rv-html="student.enrollment.beginAt | dateInterval student.enrollment.endAt"></span>)
                <div rv-if="student.comment" class="student__comment">
                    {student.comment}
                </div>
                <div rv-if="student.orders">
                    <!-- <div rv-if="student.orders | length | gt 1">Заказы</div> -->
                    <div rv-each-order="student.orders">
                        <div>
                            Заказ №{order.shortId}
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
