.lower-case
{
    text-transform: lowercase;
}

.user-details
{
    /* background: #EBEBEB; */
    font-weight: 100;
    font-size: 13px;
    line-height: 1.2em;
    /* padding: 10px; */
    height: 100%;
}

.user-details__head
{
    padding: 10px 5px;
    font-weight: 500;
    background: rgb(250, 250, 250);
    border-bottom: 1px solid #D8D8D8;
}
.user-details__main
{
    padding: 5px;
}

.user-details__students
{
    margin-top: 10px;
}
.user-details__referer-url
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}

.user-details__subscribed,
.user-details__subscribed-courses
{
    margin-bottom: 8px;
}

/******************************/

.user-details__courses
{
    width: 100%;
}

/******************************/

label[for="add-to-course"]
{
    user-select: none;
}
#add-to-course
{
    display: none;
}

.user-details__add-to-course
{
    display: none;
    padding: 5px 0;
}
#add-to-course:checked + [for="add-to-course"] + .user-details__add-to-course
{
    display: block;
}

/******************************/

.student
{
    margin-bottom: 10px;
}
.student:last-child
{
    margin-bottom: 0;
}
.student__course-name
{
    font-weight: 600;
}
.student__comment
{
    font-weight: 500;
    color: #f00;
}
