<div class="layout__main-inner">

    <div class="layout__main-main">

        <div class="grid">

            <div class="grid__header">
                <div class="grid-header">

                    <label class="grid-header__col grid-header__col_check">
                        <input type="checkbox" data-role="select-all" rv-checked="checked.all">
                    </label>

                    <div class="grid-header__col col-name">
                    </div>

                    <div class="grid-header__col col-courses">
                        Студент курсов
                    </div>

                    <div class="grid-header__col col-subscribes">
                        Подписки
                    </div>

                    <!-- <div class="grid-header__col">
                        Был
                    </div> -->

                    <div class="grid-header__col">
                        В школе с
                    </div>

                </div>
            </div>

            <div class="grid__items">
                <div class="items-list grid-items">

                    <div class="items-list__item grid-items__item"
                        data-role="list-row"
                        rv-each-item="items:"
                        rv-data-id="item:id"
                        rv-data-selected="view.selectedItem | eq item:id false"
                        rv-data-visible="item:visible"
                    >

                        <label class="grid-items__item-col grid-items__item-col_check">
                            <input type="checkbox" data-role="select-item" rv-checked="item:checked | or checked.all">
                        </label>

                        <div class="grid-items__item-col col-name">
                            <div>
                                <span rv-if="item:user">👤</span>
                                {item:email}
                            </div>
                            <div rv-if="item:user">
                                <div>{item:user.name}</div>
                                <div rv-if="item:user.tel">{item:user.tel}</div>
                            </div>
                        </div>

                        <div class="grid-items__item-col grid-items__item-col_wrap col-courses">
                            <!-- <span rv-if="item:enrollments | length | gt 0" class="label label_success label_xs">
                                {item:enrollments | length}
                            </span> -->
                            <ul rv-if="item:user.students | length | gt 0" class="cell-list user-enrollments">
                                <li rv-each-student="item:user.students | sortBy 'createdAt' 'desc'" class="cell-list__item user-enrollment">
                                    <div class="user-enrollment__name">
                                        {student.enrollment.course.name} ({student.enrollment.beginAt | humanDate false})
                                    </div>
                                    <!-- <div class="user-enrollment__date">
                                        {student.createdAt | humanDate}
                                    </div> -->
                                    <!-- на {student.enrollment.num}-й поток -->
                                </li>
                            </ul>
                        </div>

                        <div class="grid-items__item-col grid-items__item-col_wrap col-subscribes">
                            <span rv-if="item:subscribed" class="label label_xs label_neutral">школа</span>
                            <ul rv-if="item:subscribedCourses | length | gt 0" class="cell-list">
                                <li rv-each-subscribe="item:subscribedCourses | sortBy 'createdAt' 'desc'" class="cell-list__item">
                                    {subscribe.name}
                                </li>
                            </ul>
                        </div>

                        <!-- <div class="grid-items__item-col grid-items__item-col_wrap grid-items__item-col_center">
                            {item:user.lastActiveAt | humanDate}
                        </div> -->

                        <div class="grid-items__item-col grid-items__item-col_wrap grid-items__item-col_center">
                            {item:createdAt | humanDate}
                        </div>

                    </div>

                </div>
            </div>

            <div class="grid__summary">
                <div class="grid-summary">
                    <div>
                        Показано
                        <span rv-text="pagination.count | numberFormat"></span>
                        из
                        <span rv-text="pagination.total | numberFormat"></span>
                    </div>
                    <div class="grid-summary__splitter"></div>
                    <div>
                        Выбрано:
                        <span rv-text="checked.items | length | numberFormat" rv-if="checked.all | not"></span>
                        <span rv-text="pagination.total | numberFormat" rv-if="checked.all"></span>
                    </div>
                </div>
            </div>

            <div class="grid__pages">
                <div class="grid__pager"></div>
            </div>

        </div>

    </div>
</div>
