/* .grid-header__col,
.grid-items__item-col
{
    outline: 1px solid #f00;
} */

/**************************/

.grid-header__col.col-name,
.grid-items__item-col.col-name
{
    width: 25%;
    flex-basis: 25%;
}
.grid-header__col.col-courses,
.grid-items__item-col.col-courses
{
    width: 30%;
    flex-basis: 30%;
}
.grid-header__col.col-subscribes,
.grid-items__item-col.col-subscribes
{
    width: 20%;
    flex-basis: 20%;
}

.layout__col_list-bar
{
    height: 100%; /* fix safari bug */
}

/**************************/

.user-enrollments
{
    /* counter-reset: enrollments-counter; */
}
.user-enrollment
{
    line-height: 1em;
    margin-top: 6px;
    margin-left: 1em;
}
/* .user-enrollment__name::before
{
    counter-increment: enrollments-counter 1;
    content: counter(enrollments-counter) ".";
    margin-left: -1em;
} */
.user-enrollment__name
{
    white-space: nowrap;
}

.user-enrollment__date
{
    font-size: 10px;
    color: #AEAEAE;
}
.user-enrollment:first-child
{
    margin-top: 0;
}
