<div class="date-filter__comparsion">
    <select data-role="comparsion">
        <option value="eq">
            =
        </option>
        <option value="gt">
            с
        </option>
        <option value="lt">
            по
        </option>
    </select>
</div>
<div class="date-filter__date" data-role="filter-input">
    <input type="text" class="input input_s input_default text-filter__input date-filter__date-input">
</div>
