.layout__main-toolbar
{
    padding: 0;
}

.layout__main-toolbar .toolbar
{
    max-width: 600px;
}

.layout__col_list-bar
{
    width: 50%;
    flex-basis: 50%;
    border-right: 1px solid #D8D8D8;
    max-width: 300px;
}
.layout__col_edit-bar
{
    flex-basis: 100%;
    background: #FFF;
}

/****************************/

.toolbar .layout__col
{
}
