<!-- Этот шаблон здесь для примера, он не загружается по умолчанию -->

<div class="layout__toolbar">
    <div class="toolbar">
        <button class="button button_s button_default" data-role="create">
            Создать
        </button>
    </div>
</div>

<div class="layout__main">

    <div class="layout-columns admin-layout-columns">

        <div class="layout__col layout__col_list-bar" data-role="list-bar"></div>

        <div class="layout__col layout__col_edit-bar" data-role="edit-bar"></div>

    </div>

</div>
