<div class="date-filter__date" data-role="filter-input">
    <input type="text" class="input input_s input_default text-filter__input date-filter__date-input">
    <input type="text" class="input input_s input_default text-filter__input date-filter__date-input">
</div>
