html,
body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    font-size: 14px;
    line-height: 1.4em;
    font-family: Helvetica, Arial, sans-serif;
}
.wrapper
{
    min-height: 100%;
    position: relative;
}

*,
*::before,
*::after {

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/**************************************/

video
{
    display: block;
}
h1, h2, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;
    font-weight: normal;
}

/**************************************/

.hr
{
    height: 1px;
    background: #bebebe;
    border: 0;
}
.hr_size_s
{
    margin: 10px 0;
}
.hr_size_m
{
    margin: 20px 0;
}
.hr_size_l
{
    margin: 40px 0;
}

/**************************************/

.link
{
    border-bottom-width: 1px;
}
.link,
.link.link_fresh:hover,
.link.link_fresh:visited,
.link.link_fresh:hover:visited,
.link.link_fresh:hover
{
    border-bottom-style: solid;
    border-bottom-color: rgba(5, 126, 249, .2);
    color: #36A3FF;
    text-decoration: none;
    cursor: pointer;
}
.link:visited,
.link.link_visited
{
    border-color: rgba(220, 0, 220, .2);
    color: rgb(153, 0, 153);
}
.link:hover,
.link:visited:hover
{
    border-color: rgba(255, 0, 0, .4) !important;
    color: rgb(255, 0, 0) !important;
    text-decoration: none;
}
.link:focus,
.link:active
{
       -moz-outline-style: none;
    -webkit-outline-style: none;
                  outline: none;
}
.link.link_local,
.link.link_local:visited
{
    color: #36A3FF;
    border-bottom-style: dotted !important;
    border-bottom-color: #36A3FF;
}
.link.link_local:hover
{
    border-color: #f00;
    color: #f00;
}
.link.link_underline_no
{
    border-bottom-width: 0;
}

.link.link_color_black,
.link.link_invert,
.link.link_black
{
    color: #000 !important;
    border-color: rgba(0, 0, 0, .4) !important;
}
.link.link_color_black:hover,
.link.link_invert:hover,
.link.link_black:hover
{
    color: #f00 !important;
    border-color: rgba(255, 0, 0, .4) !important;
}

/**************************************/

p
{
    margin: 0 0 14px;
}

/**************************************/

::selection
{
    background-color: #0a246a;
    color: #fff;
    text-shadow: none;
}
::-moz-selection
{
    background-color: #0a246a;
    color: #fff;
    text-shadow: none;
}
::-webkit-selection
{
    background-color: #0a246a;
    color: #fff;
    text-shadow: none;
}

/**************************************/

.noselect
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/**************************************/
.hidden
{
    display: none !important;
}

.cloaked
{
    visibility: hidden;
}

/**************************************/

.clear::after
{
    clear: both;
}
.clear::before,
.clear::after
{
    display: table;
    content: "";
    line-height: 0;
}

/**************************************/

.align_center
{
    text-align: center !important;
}
.align_right
{
    text-align: right !important;
}
.align_left
{
    text-align: left !important;
}
.center
{
    margin: auto;
}
.valign_middle
{
    vertical-align: middle !important;
}

.to_right
{
    float: right;
}

/**************************************/

.b-table-no-border
{
    border-collapse: collapse;
    border: 0;
    padding: 0;
}
.b-table_width_100p
{
    width: 100%;
}
.b-table-no-border td
{
    padding: 0;
}

/**************************************/

/* vertical center: http://www.indeep76.com/Style/Example007/center.html */

/**************************************/

ul
{
    padding-left: 20px;
}

.list_unstyled
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.list_out_true
{
    padding-left: 0;
}

.list_bullets_longdash
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list_bullets_longdash li::before
{
    content: '\2014';
    padding-right: .4em;
    margin-left: -1.4em;
}

/* Triangle bullets: http://jsfiddle.net/chriscoyier/yNZTU/ */
.list_bullets_triangle
{
    margin: .75em 0;
    padding: 0 1em;
    list-style: none;
}
.list_bullets_triangle li::before
{
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: .35em 0 .35em .45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: .9em;
    position: relative;
}

/**************************************/

.inline-block
{
    display: inline-block;
}

/**************************************/

img
{
    display: block;
    border: 0;
}
.img
{
}
.img_inline
{
    display: inline-block;
}
.img_responsive
{
    max-width: 100%;
    height: auto;
}

/***************************************/

input[type="radio"]
{
    margin-left: -1.25em;
    margin-right: .5em;
}

/***************************************/

.red
{
    color: #f00;
}

/***************************************/

.divider
{
    height: 1px;
    border: 0;
}
.divider_height_2
{
    height: 2px;
}
.divider_color_e5e5e5
{
    background: #e5e5e5;
}
.divider_color_ccc
{
    background: #ccc;
}

.spacer_h_10
{
    height: 10px;
}
.spacer_h_20
{
    height: 20px;
}
.spacer_h_30
{
    height: 30px;
}
.spacer_h_40
{
    height: 40px;
}
.spacer_h_50
{
    height: 50px;
}
.spacer_h_60
{
    height: 60px;
}
.spacer_h_70
{
    height: 70px;
}
.spacer_h_80
{
    height: 80px;
}
.spacer_h_90
{
    height: 90px;
}
.spacer_h_100
{
    height: 100px;
}
.spacer_h_200
{
    height: 200px;
}
.spacer_h_500
{
    height: 500px;
}
.spacer_h_1000
{
    height: 1000px;
}

/***************************************/

.dl
{
    margin: 0;
}

.dt,
.dd
{
    margin-bottom: 6px;
}

.dt
{
}

.dd
{
    margin-left: 0;
}

.dl_type_horizontal .dd
{
    margin-left: 10px;
}

.dl_type_horizontal::before,
.dl_type_horizontal::after
{
    display: table;
    line-height: 0;
    content: "";
}

.dl_type_horizontal::after
{
    clear: both;
}

.dl_type_horizontal .dt
{
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl_type_horizontal .dd
{
    margin-left: 180px;
}

/***************************************/

.touch_transparent
{
    -webkit-tap-highlight-color: transparent;
}
