/* Колонки */

.row
{
    display: flex;
    flex-direction: row;

    box-sizing: border-box;

    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.col
{
    box-sizing: border-box;
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    flex-basis: 100%;
}

.col_categories
{
}

@media only screen and (min-width: 640px)
{

    .col_categories
    {
        width: 50%;
        flex-basis: 50%;
    }

}

/* iPad vertical */
@media only screen and (min-width: 768px)
{

    .col_categories
    {
        width: 50%;
        flex-basis: 50%;
    }

}

/* iPad horizontal */
@media only screen and (min-width: 1024px)
{

    .col_categories
    {
        width: 33.333333333%;
        flex-basis: 33.333333333%;
    }

}

@media only screen and (min-width: 1200px)
{

}
