.form
{

}
.form__fieldset
{
    /* padding: 10px 15px 20px;
    border: 1px solid #bebebe; */
    border-width: 1px 0 0;
    border-color: #bebebe;
    border-style: solid;
    padding: 10px 10px 50px;
    margin: 10px 0;
}
.form__fieldset-annotation
{
    padding: 0 0 10px 10px;
    font-style: italic;
    font-size: 13px;
    color: #AA2625
}
.form__fieldset-toolbar
{
    margin-top: 5px;
    margin-bottom: 10px;
}
.form__legend
{
    font-size: 17px;
    line-height: 1em;
    margin-left: 0px;
    padding: 0 10px;
    font-weight: bold;
    user-select: none;
}
.form__field
{
    display: block;
    margin-bottom: 10px;
    width: auto;
}
.form__field:last-child
{
    margin-bottom: 0;
}
.form__field_inline
{
    display: inline-block;
}
.form__field_checkbox
{
    user-select: none;
    cursor: pointer;
}
.form__label
{
    display: block;
    margin-bottom: 4px;
}

.form__field_row
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.form__input-text
{
    width: 100%;
}

.form__field_radio
{
    margin-left: 1.25em;
}

/*******************************************/

.form__dangerous-hide
{
    display: none;
}
.form__dangerous-hide:not(:checked) + .form__fieldset .form__legend label
{
    cursor: pointer;
    color: #f00;
    border-bottom: 1px dotted;
}
.form__dangerous-hide:not(:checked) + .form__fieldset .form__legend::after
{
    font-weight: normal;
    font-size: 12px;
    content: '(скрыто)';
}
.form__dangerous-hide:not(:checked) + .form__fieldset .form__hiding-content
{
    display: none;
}
.form__dangerous-hide:checked + .form__fieldset,
.form__dangerous-hide:checked + .form__fieldset .form__legend
{
    background: #dfdfdf;
}

/*******************************************/

.form__hide
{
    display: none;
}
.form__hide:not(:checked) + .form__fieldset .form__legend label
{
    cursor: pointer;
    color: #008BFF;
    border-bottom: 1px dotted;
}
.form__hide:not(:checked) + .form__fieldset .form__legend::after
{
    font-weight: normal;
    font-size: 12px;
    content: '(скрыто)';
}
.form__hide:not(:checked) + .form__fieldset .form__hiding-content
{
    display: none;
}

.form__hide:checked + .form__fieldset,
.form__hide:checked + .form__fieldset .form__legend
{
    background: #F9F9F9;
}

/*******************************************/

.input-validation-error,
.input-validation-error + .input-validation-error
{
    color: #f00;
    line-height: 1.4em;
    margin-top: 2px;
    display: inline-block !important;
}

/*******************************************/

.form__mt-xs:first-child,
.form__mt-s:first-child,
.form__mt-m:first-child,
.form__mt-l:first-child
{
    margin-top: 0;
}
.form__mb-xs:last-child,
.form__mb-s:last-child,
.form__mb-m:last-child,
.form__mb-l:last-child
{
    margin-bottom: 0;
}
.form__mr-xs:last-child,
.form__mr-s:last-child,
.form__mr-m:last-child,
.form__mr-l:last-child
{
    margin-right: 0;
}

.form__mt-xs
{
    margin-top: 5px;
}
.form__mb-xs
{
    margin-bottom: 5px;
}
.form__mr-xs
{
    margin-right: 5px;
}

.form__mt-s
{
    margin-top: 10px;
}
.form__mb-s
{
    margin-bottom: 10px;
}
.form__mr-s
{
    margin-right: 10px;
}

.form__mt-m
{
    margin-top: 20px;
}
.form__mb-m
{
    margin-bottom: 20px;
}
.form__mr-m
{
    margin-right: 20px;
}

.form__mt-l
{
    margin-top: 40px;
}
.form__mb-l
{
    margin-bottom: 40px;
}
.form__mr-l
{
    margin-right: 40px;
}
