.input
{
    font-family: Arial, sans-serif;
    line-height: 1em;

    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-transition: box-shadow 100ms ease;
       -moz-transition: box-shadow 100ms ease;
        -ms-transition: box-shadow 100ms ease;
            transition: box-shadow 100ms ease;
    white-space: nowrap;

    border: 0;
    border-style: solid;
    background-clip: padding-box;
    -webkit-box-shadow: none;
            box-shadow: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    -webkit-box-shadow: inset 0 2px 5px 0 rgba(233,232,234,.5);
            box-shadow: inset 0 2px 5px 0 rgba(233,232,234,.5);
}

.input:focus,
.input.input_focus
{
    border-color: #89cbfd;
    outline: none;
    -webkit-box-shadow: inset 0 2px 1px 0 #e9e8ea, 0 0 0 1px #89cbfd, 0 0 7px #89cbfd;
            box-shadow: inset 0 2px 1px 0 #e9e8ea, 0 0 0 1px #89cbfd, 0 0 7px #89cbfd;
}

.input[readonly],
.input.input_readonly,
.input.input_readonly:focus,
.input:required.input[readonly],
.input:required.input.input_readonly,
.input:required.input.input_readonly:focus,
.input_required.input[readonly],
.input_required.input.input_readonly,
.input_required.input.input_readonly:focus
{
    cursor: default;

    color: #c3c3c3;
    border-color: #E3E3E3;
    background: #f3f3f3;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.input:disabled,
.input.input_disabled,
.input.input_disabled:focus,
.input:required.input:disabled,
.input:required.input.input_disabled,
.input:required.input.input_disabled:focus
.input_required.input:disabled,
.input_required.input.input_disabled,
.input_required.input.input_disabled:focus
{
    cursor: default;

    color: #c3c3c3;
    border-color: #E3E3E3;
    background: #ddd;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/*******************************/

.input.input_s
{
    font-size: 13px;
    /* min-width: 90px; */

    padding: 5px 6px;

    border-width: 1px;
}

.input.input_m
{
    font-size: 15px;
    /* min-width: 110px; */

    padding: 7px 8px;

    border-width: 1px;
}

.input.input_l
{
    font-size: 20px;
    /* min-width: 140px; */

    padding: 10px 11px 9px;
    /* height: 44px; */

    border-width: 1px;
}

/*******************************/

/*  Не надо уточнять селектор: .input.input_default,
    чтобы не перезаписывать стили состояний */

.input_default
{
    color: #000;
    border-color: #bebebe;
    background: #fff;
}

.input:required,
.input_required
{
    color: #000;
    /* border-color: #bebebe; */
    background: #fff;
}

.input:invalid,
.input_error,
.input.error,
.input.input-validation-error
{
    color: #f86d6e;
    border-color: #ff8686;
}
.input:invalid:focus,
.input_error:focus,
.input.error:focus,
.input.input-validation-error:focus,
.input.input_focus:invalid,
.input_error.input_focus,
.input.error.input_focus,
.input.input-validation-error.input_focus
{
    border-color: #ff8686;
    -webkit-box-shadow: inset 0 2px 3px 0 #e9e8ea, 0 0 0 1px rgba(253,106,106,1), 0 0 5px rgba(253,106,106,1);
            box-shadow: inset 0 2px 3px 0 #e9e8ea, 0 0 0 1px rgba(253,106,106,1), 0 0 5px rgba(253,106,106,1);
}

/*******************************/
/*******************************/
/*******************************/

::-webkit-input-placeholder
{
    line-height: 1em;

    padding-top: .076923077em; /* Safari */

    color: #8e8e8e;
}
:-moz-placeholder
{
    line-height: 1em;
    /* padding: 2px; */
    /* opacity: 1; */

    color: #8e8e8e;
}
::-moz-placeholder
{
    line-height: 1em;
    /* padding: 2px; */
    /* opacity: 1; */

    color: #8e8e8e;
}
:-ms-input-placeholder
{
    line-height: 1em;
    /* padding: 2px; */

    color: #8e8e8e;
}
