.label
{
    font-family: Arial, sans-serif;
    font-weight: normal;
    line-height: 1em;

    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    cursor: default;
    user-select: none;
    text-align: center;
    /* vertical-align: baseline; */
    white-space: nowrap;
    text-decoration: none;

    border: 0;
    outline: none;
    background-clip: padding-box;
}

/************************************/

.label.label_xs
{
    font-size: 11px;

    padding: 1px 2px;
    margin-top: -2px;
    margin-bottom: -2px;

    border-radius: 3px;
}

.label.label_s
{
    font-size: 13px;

    padding: 2px 6px;
    margin-top: -2px;
    margin-bottom: -2px;

    border-radius: 3px;
}

.label.label_m
{
    font-size: 15px;

    padding: 8px 16px;

    border-radius: 3px;
}

.label.label_l
{
    font-size: 20px;

    padding: 11px 30px;

    border-radius: 3px;
}

/************************************/

.label.label_marked
{
    font-weight: bold;
}
.label.label_faded
{
    color: #C4C4C4;
}

/************************************/

.label.label_default
{
    color: #a5a5a5;
    border: 1px solid #cecccc;
    background: #fff;
}

.label.label_neutral
{
    border: 1px solid #9fa19e;
    background: #9fa19e;
    color: #FFF;
}

.label.label_primary
{
    border: 1px solid #4ea7f9;
    background: #4ea7f9;
    color: #FFF;
}

.label.label_success
{
    border: 1px solid #4caf50;
    background: #4caf50;
    color: #FFF;
}

.label.label_warning
{
    border: 1px solid #ffeb3b;
    background: #ffeb3b;
}

.label.label_danger
{
    border: 1px solid #ef8484;
    background: #ff5252;
    color: #fff;
}

.label.label_clean
{
    padding-right: 0;
    padding-left: 0;

    color: #000;
    background: transparent;
}
