.layout-columns
{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
}
.layout-columns_valign_bottom
{
    align-items: flex-end;
}
.layout-columns_valign_top
{
    align-items: flex-start;
}

.layout-columns__column
{
    height: 100%;

    flex-grow: 1;
}
.layout-columns__column.column_scrollable_y
{
    overflow-x: hidden;
    overflow-y: auto;
}

/************************************/

.layout
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/************************************/

.layout__col
{
    box-sizing: border-box;
    overflow: auto;
}

/************************************/

.layout__toolbar
{
    border-bottom: 1px solid #D8D8D8;
}
.layout__main
{
    height: 90%;
    flex-grow: 1;
}

.layout__main-inner
{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.layout__main-toolbar
{
    padding: 6px;
    border-bottom: 1px solid #D8D8D8;
    font-size: 0;
    line-height: 0;
}
.layout__main-main
{
    overflow: auto;
}
