/* html,
body
{
    width: 100%;
    height: 100%;
} */
body
{
    padding: 0;
    margin: 0;
    background: #EFEFEF;
}

/************************************/

.admin-page
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-items: stretch; */
    /* align-content: stretch; */
}
.admin-page__navbar
{
    width: 100%;
    /* height: 100px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.admin-page__navbar-menu
{
    flex-grow: 1;
}
.admin-page__navbar-menu,
.admin-page__navbar-auth
{
    background: #fff;
    color: #000;
    border-bottom: 1px solid #D8D8D8;
}

.admin-page__navbar-auth
{
    height: 100%;
}
.admin-page__main
{
    height: 100%;
}

.admin-page__preloader-wrapper
{
    height: 100%;
    display: flex;
    align-items: center;
}
.admin-page__preloader
{
    width: 32px;
    height: 32px;
    margin: auto;
    background-image: url(/admin/i/ajax-loader-EFEFEF.gif);
}

/************************************/

.toolbar
{
    /* height: 40px; */
    padding: 6px;
    position: relative;
    z-index: 9;

    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;

    /* -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2); */
            /* box-shadow: 0 2px 6px rgba(0,0,0,.2); */
}
.toolbar.toolbar_vertical
{
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 0;
}

.toolbar .to_right
{
    margin-left: auto;
}

.toolbar__spacer
{
    width: 5px;
}

.toolbar__label
{
    color: #4a4a4a;
}

.toolbar__splitter
{
    /* border-left: 1px solid #D1D1D1; */
    border-right: 1px solid #808080;
    height: 15px;
    margin: 0 5px;
}

.toolbar .search-field
{
    width: calc(30% - 20px);
    min-width: 200px;
    max-width: calc(350px - 20px);
}

/************************************/

/* .menu-main
{
    height: 40px;
    padding: 4px;
    font-weight: normal;
}
.menu-main__list
{
    margin: 0;
    padding: 0;
    font-size: 0;
}
.menu-main__item
{
    display: inline-block;
    font-size: 16px;
    line-height: 1em;
    padding: 6px 10px;
}
.menu-main__item_active
{
    font-weight: bold;
}
.menu-main__item_active .menu-main__link
{
    color: #000 !important;
    border-bottom-width: 0;
} */

/************************************/

.grid-container
{
    height: calc(100% - 40px);
}

/************************************/

/* .label
{
    font-weight: bold;
}
.label_success
{
    background: #5cb85c;
    color: #fff;
}
.label_info
{
    background: #ffc500;
    color: #fff;
}
.label_primary
{
    background: #a2d9fa;
    color: #fff;
}
.label_error
{
    background: #6ED1FD;
    color: #fff;
} */

/************************************/

.order-courses
{
    /*padding: 0;*/
    margin: 0;
}
.order-courses__item
{
    padding: 4px;
}
.order-courses__item_paid_true
{
    background: #5cb85c;
    color: #fff;
    font-weight: bold;
}
.order-courses__item_partial_true
{
    background: #5c5cb8;
    color: #fff;
}

/************************************/

.row-inactive
{
    color: #B9B9B9;
}
.row-success
{
    color: #0D9618;
}
.row-registration-closed
{
    /* color: #0D9618; */
}
.row-registration-open
{
    color: #0D9618;
}
.row-hidden
{
    color: #C6C6C6;
}

/************************************/

.x-grid-row-summary .x-grid-cell
{
    font-weight: bold;
}

/************************************/
