.main-menu
{
    font-size: 0;
    line-height: 0;
    /* font-family: 'Helvetica', 'Arial', sans-serif; */
    font-weight: normal;
}

.main-menu_level_2
{
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
}

.main-menu__ul
{
    margin: 0;
    padding: 0;
}

.main-menu__item
{
    display: inline-block;
    /* height: 100%; */
    font-size: 13px;
    line-height: 35px;
}

.main-menu_level_2 .main-menu__item
{
    font-size: 12px;
    line-height: 24px;
}

.main-menu__label
{
    display: inline-block;
    padding: 0 10px;
    height: 100%;
}
.main-menu__link,
.main-menu__link:visited
{
    border-bottom: 0 !important;
    text-decoration: none;
}
.main-menu__link:hover
{
}
.main-menu__item[data-active]
{
    cursor: default;
    font-weight: bold;
}

.main-menu_black
{
    background: #000;
}
.main-menu_black .main-menu__link,
.main-menu_black .main-menu__link:visited
{
    color: #4099fb !important;
}
.main-menu_black .main-menu__link:hover
{
    color: #f00 !important;
}
.main-menu_black .main-menu__item[data-active]
{
    color: #fff !important;
    background: #4d4d4d;
}

.main-menu_white
{
    background: #fff;
    /* border-bottom: 1px solid #D8D8D8; */
}
.main-menu_white .main-menu__link,
.main-menu_white .main-menu__link:visited
{
    color: #4099fb !important;
}
.main-menu_white .main-menu__link:hover
{
    color: #f00 !important;
}
.main-menu_white .main-menu__item[data-active]
{
    background: #4d4d4d;
}
.main-menu_white .main-menu__item[data-active],
.main-menu_white .main-menu__item[data-active] .main-menu__label
{
    color: #fff !important;
}

.main-menu_level_2.main-menu_white .main-menu__item[data-active]
{
    /* background: #fff; */
}
.main-menu_level_2.main-menu_white .main-menu__item[data-active],
.main-menu_level_2.main-menu_white .main-menu__item[data-active] .main-menu__label
{
    /* color: #000 !important; */
}

/************************************************/

.auth-info
{
    height: 100%;
    font-size: 13px;
    line-height: 35px;
    white-space: nowrap;
}
.auth-info__user,
.auth-info__logout
{
    display: inline-block;
    padding: 0 10px;
}
