.selected-teachers
{
    /* padding: 4px 6px; */
    font-size: 14px;
    line-height: 1em;
    margin-bottom: 10px;
    /* outline: 1px solid #ccc; */
    display: inline-block;
}
.selected-teachers__teacher
{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 4px 8px;
    margin-right: 4px;
    user-select: none;
    margin-bottom: 4px;
    /* box-shadow: inset 0 2px 5px 0 rgba(233,232,234,.5); */
    /* box-shadow: 0 2px 5px 0 rgba(233,232,234,.5); */
    /* background: #DEDEDE; */
}
.selected-teachers__teacher:last-child
{
    margin-right: 0;
}
/* .selected-teachers__teacher::after
{
    content: ',';
    margin-right: 4px;
}
.selected-teachers__teacher:last-child::after
{
    content: '';
    margin-right: 0;
} */

/**************************/

.teachers-list
{
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}
.teachers-list__teacher-wrapper
{
    width: 190px;
    flex-basis: 190px;
}
.teachers-list__teacher
{
    display: flex;
    align-items: center;
    /* margin: 10px 0; */
    padding: 4px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.2em;
    opacity: .4;
    position: relative;
}
.teachers-list__teacher:hover
{
    background: #FFFEBC;
    opacity: 1;
}
.teachers-list__teacher[data-selected="true"]
{
    opacity: 1;
    background: #BFFFC0;
}
.teachers-list__teacher [type="checkbox"]
{
    position: absolute;
    display: none;
}
/* .teachers-list__teacher[data-disabled],
.teachers-list__teacher[data-disabled]:hover
{
    background: none;
    opacity: .2;
    cursor: default;
} */
.teachers-list__avatar
{
    max-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #C8C8C8;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 0;
}
.teachers-list__name
{
    padding-left: 10px;
}
