.textarea
{
    font-family: Arial, sans-serif;
    line-height: 1.4em;

    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-transition: box-shadow 100ms ease;
       -moz-transition: box-shadow 100ms ease;
        -ms-transition: box-shadow 100ms ease;
            transition: box-shadow 100ms ease;

    border: 0;
    border-style: solid;
    background-clip: padding-box;
    -webkit-box-shadow: none;
            box-shadow: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    -webkit-box-shadow: inset 0 2px 5px 0 rgba(233,232,234,.5);
            box-shadow: inset 0 2px 5px 0 rgba(233,232,234,.5);
}

.textarea:focus,
.textarea.textarea_focus
{
    border-color: #89cbfd;
    outline: none;
    -webkit-box-shadow: inset 0 2px 1px 0 #e9e8ea, 0 0 0 1px #89cbfd, 0 0 7px #89cbfd;
            box-shadow: inset 0 2px 1px 0 #e9e8ea, 0 0 0 1px #89cbfd, 0 0 7px #89cbfd;
}

.textarea[readonly],
.textarea.textarea_readonly,
.textarea.textarea_readonly:focus
{
    cursor: default;

    color: #c3c3c3;
    border-color: #bebebe;
    background: #f3f3f3;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.textarea:disabled,
.textarea.textarea_disabled,
.textarea.textarea_disabled:focus
{
    cursor: default;

    color: #c3c3c3;
    border-color: #bebebe;
    background: #ddd;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.textarea.textarea_nowrap
{
    white-space: nowrap;
}

/*******************************/

.textarea.textarea_s
{
    font-size: 13px;
    /* min-width: 90px; */

    padding: 5px 6px;

    border-width: 1px;

    min-height: 5em;
}

.textarea.textarea_m
{
    font-size: 15px;
    /* min-width: 110px; */

    padding: 7px 8px;

    border-width: 1px;

    min-height: 10em;
}

.textarea.textarea_l
{
    font-size: 20px;
    /* min-width: 140px; */

    padding: 10px 11px 9px;
    /* height: 44px; */

    border-width: 1px;

    min-height: 20em;
}

/*******************************/

.textarea_wide
{
    width: 100%;
}

/*******************************/

.textarea.textarea_monospace
{
    font-family: monospace;
}

.textarea.textarea_font_xs
{
    font-size: 11px;
}
.textarea.textarea_font_s
{
    font-size: 13px;
}
.textarea.textarea_font_m
{
    font-size: 15px;
}
.textarea.textarea_font_l
{
    font-size: 20px;
}

/*******************************/

/*  Не надо уточнять селектор: .textarea.textarea_default,
    чтобы не перезаписывать стили состояний */

.textarea_default
{
    color: #000;
    border-color: #bebebe;
    background: #fff;
}

.textarea:required,
.textarea_required
{
    color: #000;
    /* border-color: #bebebe; */
    background: #fff;
}

.textarea:invalid,
.textarea_error,
.textarea.error,
.textarea.textarea-validation-error
{
    color: #f86d6e;
    border-color: #ff8686;
}
.textarea:invalid:focus,
.textarea_error:focus,
.textarea.error:focus,
.textarea.textarea-validation-error:focus,
.textarea.textarea_focus:invalid,
.textarea_error.textarea_focus,
.textarea.error.textarea_focus,
.textarea.textarea-validation-error.textarea_focus
{
    border-color: #ff8686;
    -webkit-box-shadow: inset 0 2px 3px 0 #e9e8ea, 0 0 0 1px rgba(253,106,106,1), 0 0 5px rgba(253,106,106,1);
            box-shadow: inset 0 2px 3px 0 #e9e8ea, 0 0 0 1px rgba(253,106,106,1), 0 0 5px rgba(253,106,106,1);
}

/*******************************/
/*******************************/
/*******************************/

::-webkit-input-placeholder
{
    line-height: 1em;

    padding-top: .076923077em; /* Safari */

    color: #8e8e8e;
}
:-moz-placeholder
{
    line-height: 1em;
    /* padding: 2px; */
    /* opacity: 1; */

    color: #8e8e8e;
}
::-moz-placeholder
{
    line-height: 1em;
    /* padding: 2px; */
    /* opacity: 1; */

    color: #8e8e8e;
}
:-ms-input-placeholder
{
    line-height: 1em;
    /* padding: 2px; */

    color: #8e8e8e;
}
