<select data-role="filter-input">
    <option value="">...</option>

    <optgroup label="Календарный">
        <option value="this-week">текущая неделя (с понед.)</option>
        <option value="this-month">текущий месяц (с 1 числа)</option>
        <option value="this-year">текущий год (с 1 января)</option>
        <option disabled>-</option>
        <option value="prev-week">предыдущая неделя (пн&mdash;вс)</option>
        <option value="prev-month">прошлый месяц</option>
        <option value="prev-year">прошлый год</option>
    </optgroup>

    <optgroup label="По дням">
        <option value="1-week">1 неделя (сегодня&minus;7 дн)</option>
        <option value="2-week">2 недели (сегодня&minus;14 дн)</option>
        <option value="1-month">1 месяц (сегодня&minus;30 дн)</option>
    </optgroup>

</select>
