<div class="layout__toolbar">
    <div class="toolbar">
        <button class="button button_s button_default" data-role="export-sendy" disabled>
            Экспорт в Sendy
        </button>
        <div class="toolbar__spacer"></div>
        <button class="button button_s button_default" data-role="export-csv" disabled>
            Скачать CSV
        </button>
    </div>
</div>

<div class="layout__main">

    <div class="layout-columns admin-layout-columns">

        <div class="layout__col layout__col_list-bar" data-role="list-bar"></div>

        <div class="layout__col layout__col_filter-bar" data-role="filter-bar"></div>

        <div class="layout__col layout__col_edit-bar" data-role="edit-bar" style="display: none;"></div>

    </div>

</div>
