.layout__col.layout__col_list-bar
{
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 10;
    background: #fff;
}
.layout__col.layout__col_filter-bar
{
    width: 100%;
    max-width: 350px;
    min-width: 200px;
    flex-grow: 1;
    order: -1;
    border-right: 1px solid #D8D8D8;
}
.layout__col.layout__col_edit-bar
{
    width: 50%;
    flex-basis: 50%;
    flex-shrink: 1;
    max-width: 300px;
    min-width: 200px;
}
