<div class="filters-panel">

    <div class="filters-panel__items">

    </div>

    <div class="filters-panel__buttons">
        <button class="button button_primary button_xs" data-role="apply">
            Применить
        </button>
    </div>

</div>
