<div class="filters__filter">
    <div class="filters__type-selector">
    </div>
    <div class="filters__filter-place" data-role="filter">
    </div>
    <div class="filters__filter-buttons">
        <button class="button button_s button_default filters__button" data-role="remove">-</button>
        <button class="button button_s button_default filters__button" data-role="add">+</button>
    </div>
</div>
