<select data-role="type-selector">
    <% _.each(availableFilters, function(filter) { %>
        <option value="<%= filter.name %>">
            <%= filter.label %>
        </option>
    <% }); %>
</select>
