.date-filter
{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.date-filter__comparsion
{
    margin-right: 5px;
}

.date-filter__date
{
    flex-grow: 1;
    width: 50%;
}
.date-filter__date-input
{
    width: 100%;
    max-width: 100px;
    min-width: 90px;
}
