.maskable-view
{
    position: relative;
}

.maskable-view__mask
{
    background-color: rgba(255,255,255,.8);
    background-image: url(/admin/i/ajax-loader-FFFFFF.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
