[data-sort-name]
{
    cursor: pointer;
}

[data-sort-order]
{
    user-select: none;
}
[data-sort-order="asc"]::after
{
    content: '▲';
}
[data-sort-order="desc"]::after
{
    content: '▼';
}

[data-sort-active]
{
    background: #CACACA;
}

[data-sort-order]::after
{
    visibility: hidden;
}
[data-sort-active][data-sort-order]::after
{
    visibility: visible;
}
