.pager
{
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    line-height: 1em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.pager__page
{

}
.pager__arrow
{
}
.pager__item_hidden
{
    visibility: hidden;
}
.pager__page_current
{
    background: #000;
    color: #fff !important;
    cursor: default;
}
.pager__page,
.pager__arrow,
.pager__ellipsis
{
    display: block;
    padding: 8px 8px;
    min-width: 35px;
    text-align: center;
}
.pager__link,
.pager__link:link,
.pager__link:visited,
.pager__link:link:visited
{
    color: #36a3ff;
    border: 0;
    text-decoration: none;
}
